MVC practice project/tal-quote-apply/TAL.QuoteAndApply.DataModel/Schemas/life/messages/AMLMessages.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
   ====================================================================== 
   ===== Process Domain Schema Module ===== 
   NON NORMATIVE EXAMPLE PROVIDED FOR ACORD NDR ILLUSTRATION - ->
    ====================================================================== 
   
      Standard Organization: ACORD
      Version: M210AULI - AllMsgs 
      Generated on: 11/14/2014
   
     COPYRIGHT NOTICE:
     
(c) 2014 ACORD. All Rights Reserved.

Use of this Schema and its documentation are covered by the terms and conditions file that was included in the distribution file that you found this Schema.http://www.ACORD.org

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:acord-doc="http://www.acord.org/schema/documentation/draft/Annotations/1" xmlns="http://www.acord.org/schema/data/draft/ReusableDataComponents/1" targetNamespace="http://www.acord.org/schema/data/draft/ReusableDataComponents/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
   <xsd:annotation>
      <xsd:appinfo>
         <acord-doc:GenerationDateTime>11/11/2014</acord-doc:GenerationDateTime>
      </xsd:appinfo>
   </xsd:annotation>
   <xsd:include schemaLocation="../data/ReusableDataComponents.xsd"/>

  <xsd:element name="PolicyNewBusinessOrderNotify" type="PolicyNewBusinessOrderNotify_Type"/>
   <xsd:complexType name="PolicyNewBusinessOrderNotify_Type">
      <xsd:complexContent>
         <xsd:extension base="ACORDMessage_Type">
            <xsd:sequence>

               <xsd:element ref="PolicyOrder" minOccurs="1" maxOccurs="unbounded"/>

            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

  <xsd:element name="PolicyNewBusinessOrderProcess" type="PolicyNewBusinessOrderProcess_Type"/>
   <xsd:complexType name="PolicyNewBusinessOrderProcess_Type">
      <xsd:complexContent>
         <xsd:extension base="ACORDMessage_Type">
            <xsd:sequence>

               <xsd:element ref="PolicyOrder" minOccurs="1" maxOccurs="1"/>

            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

  <xsd:element name="PolicyNewBusinessOrderProcessResult" type="PolicyNewBusinessOrderProcessResult_Type"/>
   <xsd:complexType name="PolicyNewBusinessOrderProcessResult_Type">
      <xsd:complexContent>
         <xsd:extension base="ACORDMessageResult_Type">
            <xsd:sequence>

               <xsd:element ref="PolicyOrder" minOccurs="0" maxOccurs="1"/>

            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

  <xsd:element name="ClaimLodgementProcess" type="ClaimLodgementProcess_Type"/>
   <xsd:complexType name="ClaimLodgementProcess_Type">
      <xsd:complexContent>
         <xsd:extension base="ACORDMessage_Type">
            <xsd:sequence>

               <xsd:element ref="ClaimLodgement" minOccurs="1" maxOccurs="unbounded"/>

            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

  <xsd:element name="ClaimLodgementProcessResult" type="ClaimLodgementProcessResult_Type"/>
   <xsd:complexType name="ClaimLodgementProcessResult_Type">
      <xsd:complexContent>
         <xsd:extension base="ACORDMessageResult_Type">
            <xsd:sequence>

               <xsd:element ref="ClaimLodgement" minOccurs="0" maxOccurs="unbounded"/>

            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
</xsd:schema>